<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceNowSoap" maxReceivedMessageSize="65536">
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="Basic"
                realm="">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="ServiceNowSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://kuitsandbox.service-now.com/incident.do?SOAP"
          binding="basicHttpBinding" bindingConfiguration="ServiceNowSoap"
          contract="snIncident.ServiceNowSoap" name="ServiceNowSoap" />
      <endpoint address="https://kuitsandbox.service-now.com/cmdb_ci_server.do?SOAP"
        binding="basicHttpBinding" bindingConfiguration="ServiceNowSoap"
        contract="ciServer.ServiceNowSoap" name="ServiceNowSoap" />
    </client>
  </system.serviceModel>
</configuration>