<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceNowSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceNowSoap1" />
                <binding name="ServiceNowSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceNowSoap3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://kuitdev.service-now.com/cmdb_ci_server.do?SOAP"
                binding="basicHttpBinding" bindingConfiguration="ServiceNowSoap"
                contract="cmdb_ci_server.ServiceNowSoap" name="ServiceNowSoap" />
            <endpoint address="https://kuitdev.service-now.com/incident.do?SOAP"
                binding="basicHttpBinding" bindingConfiguration="ServiceNowSoap2"
                contract="incident.ServiceNowSoap" name="ServiceNowSoap1" />
        </client>
    </system.serviceModel>
</configuration>